<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>LGBT+ Reddit and Twitter Scraper</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css?v=0.3.4">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/searchaction.js?v=0.3.4"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    {% endblock %}
</head>
<body>
<header>
  <nav style="background-image: url('/static/header_bg.png'); background-repeat: repeat-x; height: 64px">
    <div class="nav-wrapper">
        <img src="/static/header.png">
        <a href="/" class="brand-logo" style="color: #212121;"><img src="/static/text.png"></a>
    </div>
  </nav>
  </header>
  <main>
    <div class="teal lighten-1">
      <div class="row" id="topbarsearch">
        <div class="input-field col s6">
          <form onsubmit="return actionReddit()" id="formRedditSearch">
              <i class="material-icons prefix smal">search</i>
              <input type="text" placeholder="Reddit" class="" id="uReddit">
          </form>
          </div>
        <div class="input-field col s6">
          <form onsubmit="return actionTwitter()" id="formTwitterSearch">
              <i class="material-icons prefix smal">search</i>
              <input type="text" placeholder="Twitter" class="" id="uTwitter">
          </form>
        </div>
      </div>
    </div>
    <div id="content" class="content">{% block content %}{% endblock %}</div>
  </main>
  <footer class="page-footer teal lighten-1">
  <div class="footer-copyright">
    <div class="container">
    © 2020 Copyright by Lena "Teekeks" During |
    <a class="grey-text text-lighten-3" href="/changelog">Changelog</a> |
    <a class="grey-text text-lighten-3" href="https://teawork.de" target="_blank" rel="noopener noreferrer">Website</a> |
    <a class="grey-text text-lighten-3" href="https://reddit.com/u/Teekeks" target="_blank" rel="noopener noreferrer">Reddit</a> |
    <a class="grey-text text-lighten-3" href="https://github.com/Teekeks/" target="_blank" rel="noopener noreferrer">Github</a> |
    <a class="grey-text text-lighten-3" href="https://twitter.com/Teekeks" target="_blank" rel="noopener noreferrer">Twitter</a>
    </div>
  </div>
</footer>
</body>
</html>
