{% extends "base.html.j2" %}

{% block content %}
<h3>Changelog</h3>
{% for hi in history %}
	{% with item = history[hi] %}
		{% include "changelog_item.html.j2" %}
	{% endwith %}
{% endfor %}

{% endblock %}
