{% extends "base.html.j2" %}

{% block content %}

<div class="row">
	<div class="col s12">
		<div class="card teal lighten-4">
			<div class="card-content">
				<span class="card-title"><b>About</b></span>
				<p>
					This Tool will search a given Reddit or Twitter account for content that might be relevant to the LGBT+ community in both positive and negative ways.<br/>
					This tool does <b>not save any data</b> it collects which means that it can take up to 45 seconds to collect all the required data for accounts with tons of activity on them.<br>
					If you find any problems, please report them to me by opening a <a href="https://github.com/Teekeks/LGBT-Scraper/issues">Github Issue</a>.<br>
					The current version of this Website is {{ version }}, you can see the <a href="/changelog">changelog here</a>.
				</p>
			</div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col s12">
		<div class="card reddit">
			<div class="card-content">
				<span class="card-title"><b>Reddit</b></span>
				<p>
					The evaluation of Reddit accounts takes a total of <b>{{ factor_count.reddit }}</b> factors into account!<br>
					These factors are a mix of participation in specific subreddits and the use of keywords and slurs.<br>
					It looks at Posts and Comments with a upper limit of 1000 Posts and 1000 Comments that can be taken into account.<br><br>
					<b>LGBT+:</b> Content that is positivly associated with the inclusive LGBT+ community.<br>
					<b>Red Flag:</b> Content containing one ore more of these: slurs, far right wring rhetoric, exclusive LGBT+ rhethoric.<br>
					<b>Related:</b> Content that is likely relevant to LGBT+ but not decisive positive or negative.
					<br><br>
					You can access a list of all used flags for Reddit scraping <a href="/data/reddit">here.</a>
				</p>
			</div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col s12">
		<div class="card twitter">
			<div class="card-content">
				<span class="card-title"><b>Twitter</b></span>
				<p>
					The evaluation of Twitter accounts takes a total of <b>{{ factor_count.twitter }}</b> factors into account!<br>
					These factors are a set list of keywords and slurs.<br>
					It looks at Tweets, Retweets, Likes and the content of quoted Tweets with the upper limit of 3200 Likes and 3200 Tweets that can be taken into account.<br><br>
					<b>LGBT+ Related:</b> Content that might be relevant to LGBT+<br>
					<b>Red Flag:</b> Content containing slurs and/or is related to far right wring rhetoric.
					<br><br>
					You can access a list of all used flags for Twitter scraping <a href="/data/twitter">here.</a>
				</p>
			</div>
		</div>
	</div>	
</div>
{% endblock %}
