{% extends "base.html.j2" %}

{% block content %}
{% if error is defined %}
	<div class="row">
		<div class="col s12">
			<div class="card red darken-1">
				<div class="card-content white-text">
					<span class="card-title">Error</span>
					<p>User not found</p>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% if user is defined %}
	<div id="loading_content">
		<div class="row">
			<div class="col s6 offset-s3">
				<div class="progress">
      				<div class="indeterminate"></div>
  				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
		  		<div class="center-align grey-text text-darken-1">Loading details for user {{ user.name }}...</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		// dynamic loading
		$.ajax({
		     type: "GET",
		     url: '/ajax/user',
		     data: "u={{ user.name }}",
		     success: function(data) {
		          $('#loading_content').html(data);
		          $('.tabs').tabs();
		     }
		   });
	</script>
{% else %}
<div class="row">
	<div class="col s12">
		<div class="card teal lighten-4">
			<div class="card-content">
				<span class="card-title">About</span>
				<p>
					This Tool can be used to search a reddit account for content that is related to the LGBT+ community in both positive and negative ways.<br/>
					Since this tool makes quite a few calls to the reddit API, the initial loading time might be as long as 45 seconds for accounts with tons of activity.<br/>
					Due to limmitations with the reddit API, only the newest 1.000 Comments and 1.000 Posts can be scraped.
				</p>
			</div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col s12">
		<div class="card green lighten-3">
			<div class="card-content">
				<span class="card-title">LGBT+ Content</span>
				<p>
					Comments or Posts in Subreddits that are positivly associated with the inclusive LGBT+ community.<br/>
					See <a href="/config/">here</a> for a list of these Subreddits.
				</p>
			</div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col s12">
		<div class="card red lighten-3">
			<div class="card-content">
				<span class="card-title">Red Flag Content</span>
				<p>
					Comments or Posts in Subreddits that are negativly associated with the inclusive LGBT+ community.<br/>
					See <a href="/config/">here</a> for a list of these Subreddits.
				</p>
			</div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col s12">
		<div class="card blue lighten-3">
			<div class="card-content">
				<span class="card-title">Related Content</span>
				<p>
					Comments or Posts in other Subreddits that contain either positive or negative keywords that are related to the LGBT+ community.<br/>
					Also listed are all posts in subreddits, which are somewhat LGBT+ related.
				</p>
			</div>
		</div>
	</div>	
</div>

{% endif %}
{% endblock %}
