{% if error is defined %}
	<div class="row">
		<div class="col s12">
			<div class="card red darken-1">
				<div class="card-content white-text">
					<span class="card-title">Error</span>
					<p>{{ error.reason }}</p>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% if user is defined %}
<div class="row"></div>
<div class="row">
	<div class="col s12">
		<div class="center"><img src="{{ user.profile_pic }}"></div>
		<h5 class="center"><a href="https://reddit.com/u/{{ user.name }}/" target="_blank" rel="noopener noreferrer">/u/{{ user.name }}</a></h5>
		<div class="center-align gray">redditor since {{ user.account_age }}</div>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s6"><a href="#general_info_tab">Overview</a></li>
			<li class="tab col s6"><a href="#detail_tab">Details</a></li>
		</ul>
	</div>
</div>
<div id="general_info_tab" class="col s12">
	<ul class="collection">
		<li class="collection-item"><b>Total Karma:</b> {{ user.comment_karma + user.link_karma }}</li>
		<li class="collection-item"><b>Profile Description:</b> {{ user.description }}</li>
		<li class="collection-item"><b>Scraped Content:</b> {{ comment_count + post_count }} entries</li>
	</ul>
</div>
<div id="detail_tab" class="col s12">
	<ul class="collection">
		<li class="collection-item"><b>Comment Karma:</b> {{ user.comment_karma }}</li>
		<li class="collection-item"><b>Link Karma:</b> {{ user.link_karma }}</li>
		<li class="collection-item"><b>Scraped Comments:</b> {{ comment_count }}</li>
		<li class="collection-item"><b>Scraped Posts:</b> {{ post_count }}</li>
		<li class="collection-item"><b>LGBT+ Content:</b> {{ user.good|length }}</li>
		<li class="collection-item"><b>Red flag Content:</b> {{ user.flag|length }}</li>
		<li class="collection-item"><b>Related Content:</b> {{ user.related|length }}</li>
		<li class="collection-item"><b>Processing Time:</b> {{ processing_time }}</li>
	</ul>
</div>

<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s4 green lighten-4"><a href="#lgbt_content" class="">LGBT+ ({{ user.good|length }})</a></li>
			<li class="tab col s4 blue lighten-4"><a href="#related_content">Related ({{ user.related|length }})</a></li>
			<li class="tab col s4 red lighten-4"><a href="#flag_content">Red flag ({{ user.flag|length }})</a></li>
		</ul>
	</div>
</div>

<div id="lgbt_content" class="col s12">
	<ul class="collection">
		{% for comment in user.good %}
			{% with color_type = 'green' %}
				{% include "reddit_list_entry.html.j2" %}
			{% endwith %}
		{% endfor %}
	</ul>
</div>
<div id="related_content" class="col s12">
	<ul class="collection">
		{% for comment in user.related %}
			{% with color_type = 'blue' %}
				{% include "reddit_list_entry.html.j2" %}
			{% endwith %}
		{% endfor %}
	</ul>
</div>
<div id="flag_content" class="col s12">
	<ul class="collection">
		{% for comment in user.flag %}
			{% with color_type = 'red' %}
				{% include "reddit_list_entry.html.j2" %}
			{% endwith %}
		{% endfor %}
	</ul>
</div>
{% endif %}