{% if error is defined %}
	<div class="row">
		<div class="col s12">
			<div class="card red darken-1">
				<div class="card-content white-text">
					<span class="card-title">Error</span>
					<p>{{ error.reason }}</p>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% if user is defined %}
<div class="row"></div>
<div class="row">
	<div class="col s12">
		<div class="center"><img src="{{ user.profile_pic }}" style="border-radius: 50%; width: 132px; height: 132px;"></div>
		<h5 class="center">{{ user.display_name }}</a>{% if user.verified %} <i class="material-icons blue-text text-lighten-1">check_circle</i> {% endif %}</h5>
		<h6 class="center"><a href="https://twitter.com/{{ user.name }}/" target="_blank" rel="noopener noreferrer">@{{ user.name }}</a></h6>
		<div class="center-align gray">on twitter since {{ user.account_age }}</div>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s6"><a href="#general_info_tab">Overview</a></li>
			<li class="tab col s6"><a href="#detail_tab">Details</a></li>
		</ul>
	</div>
</div>
<div id="general_info_tab" class="col s12">
	<ul class="collection">
		<li class="collection-item"><b>Profile Description:</b> {{ user.description }}</li>
		<li class="collection-item"><b>Reach:</b> {{ "{:,}".format(user.followers_count) }} Followers, {{ "{:,}".format(user.friends_count) }} Friends</li>
		<li class="collection-item"><b>Scraped Content:</b> {{ "{:,}".format(count_tweets + count_likes) }} entries</li>
	</ul>
</div>
<div id="detail_tab" class="col s12">
	<ul class="collection">
		<li class="collection-item"><b>Scraped Tweets:</b> {{ "{:,}".format(count_tweets) }} out of {{ "{:,}".format(user.tweets_count) }} reported by Twitter</li>
		<li class="collection-item"><b>Scraped Favorites:</b> {{ "{:,}".format(count_likes) }} out of {{ "{:,}".format(user.favourites_count) }} reported by Twitter</li>
		<li class="collection-item"><b>LGBT+ Content:</b> {{ user.good|length }}</li>
		<li class="collection-item"><b>Red flag Content:</b> {{ user.flag|length }}</li>
		<li class="collection-item"><b>Processing Time:</b> {{ processing_time }}</li>
	</ul>
</div>

<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s6 green lighten-4"><a href="#lgbt_content" class="">LGBT+ related({{ user.good|length }})</a></li>
			<li class="tab col s6 red lighten-4"><a href="#flag_content">Red flag ({{ user.flag|length }})</a></li>
			<!-- <li class="tab col s4 blue lighten-4"><a href="#related_content">Related ({{ user.related|length }})</a></li> -->
		</ul>
	</div>
</div>

<div id="lgbt_content" class="col s12">
	<ul class="collection">
		{% for comment in user.good %}
			{% with color_type = 'green' %}
				{% include "twitter_list_entry.html.j2" %}
			{% endwith %}
		{% endfor %}
	</ul>
</div>

<div id="flag_content" class="col s12">
	<ul class="collection">
		{% for comment in user.flag %}
			{% with color_type = 'red' %}
				{% include "twitter_list_entry.html.j2" %}
			{% endwith %}
		{% endfor %}
	</ul>
</div>
{% endif %}