{% extends "base.html.j2" %}

{% block content %}
{% if error is defined %}
	<div class="row">
		<div class="col s12">
			<div class="card red darken-1">
				<div class="card-content white-text">
					<span class="card-title">Error</span>
					<p>{{ error.reason }}</p>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% if user is defined %}
	<div id="loading_content">
		<div class="row">
			<div class="col s6 offset-s3">
				<div class="progress">
      				<div class="indeterminate"></div>
  				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
		  		<div class="center-align grey-text text-darken-1">Scraping twitter account for user {{ user.name }}...</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		// dynamic loading
		$.ajax({
		     type: "GET",
		     url: '/ajax/twitter/{{ user.name }}',
		     success: function(data) {
		          $('#loading_content').html(data);
		          $('.tabs').tabs();
		     },
		     error: function(data) {
		     	console.log('An error occured')
		     	$('#loading_content').html("An error occured");
		          
		     }
		   });
	</script>
{% else %}
	<div class="row">
		<div class="col s12">
			<div class="card red darken-1">
				<div class="card-content white-text">
					<span class="card-title">Error</span>
					<p>User not found</p>
				</div>
			</div>
		</div>
	</div>
{% endif %}
{% endblock %}